{% extends "base.html" %}

{% load static %}
{% block title %}Login User{% endblock title %}

{% block header_image %}
<img class="masthead-avatar mb-5" src="{% static 'assets/blog/login.png' %}" alt="..."  width="200px"/>
{% comment %} register.png {% endcomment %}
{% endblock header_image %}

{% block header_title %}Login User{% endblock header_title %}

{% block content %}
    <h1 class="text-center">Login User</h1>
    <div class="container p-4 border rounded bg-light text-dark mx-auto text-center" style="max-width: 400px;">
    <form action="/users/login/" method="POST" class="p-4 border rounded bg-light text-dark">
        {% csrf_token %} {% comment %}security token Cross-site Request Forgery attacks{% endcomment %} 
        {% comment %} {{form}} {% endcomment %}
        {% comment %} display form  errors {% endcomment %}
        {% if form.errors%}
            <div class="alert alert-danger">
                <ul>
                    {%for field in form%}
                        {%if field.errors%}
                            <li>{{field.label}} : {{field.errors}}</li>
                        {%endif%}
                    {%endfor%}
                    {% for error in form.non_field_errors %}
                        <li>{{error}}</li>
                    {%endfor%}
                </ul>
            </div>
        {% endif %}

        <div class="mb-3 text-center">
            <label for='{{form.username.id_for_label}}' class="col-sm-6 col-form-label">Username</label>
            {{form.username}}   
        </div>

        <div class="mb-3 text-center">
            <label for='{{form.password.id_for_label}}' class="col-sm-6 col-form-label">Password</label>
            {{form.password}}   
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-secondary">Login</button>
        </div>
        
    </form>
{% endblock content %}
