{% extends "base.html" %}

{% load static %}
{% block title %}Register a New User{% endblock title %}

{% block header_image %}
<img class="masthead-avatar mb-5" src="{% static 'assets/blog/register.png' %}" alt="..." />
{% comment %} register.png {% endcomment %}
{% endblock header_image %}

{% block header_title %}Register a New User{% endblock header_title %}

{% block content %}
    <h1>Register a New User</h1>
    <form action="/users/register/" method="POST" class="p-4 border rounded bg-light text-dark">
        {% csrf_token %} {% comment %}security token Cross-site Request Forgery attacks{% endcomment %} 
        {% comment %} {{form}} {% endcomment %}
        <div class="mb-3">
            <label for='{{form.username.id_for_label}}'>Username</label>
            {{form.username}}   
        </div>
        <div class="mb-3">
            <label for='{{form.password1.id_for_label}}'>Password</label>
            {{form.password1}}
        </div>
        <div class="mb-3">
            <label for='{{form.password2.id_for_label}}'>Password Confirmation</label>
            {{form.password2}}
        </div>
        <button>Submit</button>
    </form>
{% endblock content %}
